.fundo {
     position: relative;
     width: 375px;
     height: 375px;
     margin-left: auto;
     margin-right: auto;
     background-image: url(./flores.jpg);
     
     background-size: contain;
     border: 3px solid black;
	}
.painel {
    position: relative;
    width: 375px;
     margin-top: 1px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     border: 3px solid black;
     background-color: gray;

}  
#div2 {
    position: relative; 
    top: 2vh; 
    left: 15vw; 
    width: 50px; 
    height: 50px; 
    background-image: url(./Chara.png);
    background-repeat: no-repeat;
    background-size: contain; 
    text-align: center;
    align-items: center;
    padding-left:auto;
    padding-right: auto;
}
#div1 {
    position: absolute;
    top: 70px;
    left: 70px; 
    width: 50px; 
    height: 50px; 
    background-image: url(./Frisk.png);
    background-repeat: no-repeat;
    background-size: contain;  
    text-align: center;
    align-items: center;
    padding-left:auto;
    padding-right: auto;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: green;
    background-color: grey;
}
button{
    background-color: black;
    border: 1px solid orangered;
    color: orangered;
    margin: 1px;
}